*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#root {
  max-width: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 1px solid black;
}
.session, .break{
  border: 1px solid pink;
  max-width:auto;
}
.cover{
  border: 1px solid green;
  width: auto;
}
#timer-lebel, #start_stop, #reset{
  width: max-content;
}
.arrowz1, .arrowz2{
  width: max-content;
}
#session-label{
  width: max-content;
}
.play, .pause, .reset{
width: 30px;
height: 30px;
}






